<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D65FF0701AFB66C7006CC985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D65FF07B1AFB66C7006CC985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69C33A51C8D3D2A007985D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69C33AE1C8D3D2A007985D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C2EDF71B031A0900E2B876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
